#inp-username {
    position: absolute;
    right: 50px;
    border-color: blue;
    border-radius: 5px
}

#inp-password {
    position: absolute;
    border-color: red;
    border-radius: 5px
}

#reg-btn {
    border-radius: 4px;
}

#randomize-username {
    position: absolute;
    right: 100px;
    left: 50px;
    bottom: 700px
}

#randomize-password {
    position: absolute;
    right: 100px;
    left: 25px;
    bottom: 600px
}